# sudo apt-get install python3-venv
# python3.7 -m venv venv

# pip install pip --upgrade
# pip install -r requirements-dev.txt
# pip install -r docs/requirements.txt

# install the current package in editable mode
# pip install -e .

pre-commit==2.14.0 # run 'pre-commit install' initially to install the git hooks
pytest==6.2.4
pytest-cov==2.12.1
pytest-randomly==3.10.1
pytest-bdd==4.1.0
pylint==2.15.10
pytest-pylint==0.18.0
zest.releaser[recommended]==6.22.1

pytest-mock==3.6.1
pytest-timeout==1.4.2
freezegun==1.1.0